<div class="user-modal">
  <h4 class="title font-lg">{{ title }}</h4>
  <form class="form-content" [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="form-group">
      <label for="name">Name</label>
      <div class="input">
        <input
          class="form-control"
          placeholder="Enter your full name"
          formControlName="name"
        />
        <error-message
          [controlName]="f"
          [submitting]="submitting"
          formControlKey="name"
          invalidErrorMessage="Please enter valid Name"
        ></error-message>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input">
        <input
          class="form-control"
          placeholder="Enter your email"
          formControlName="email"
        />
        <error-message
          [controlName]="f"
          [submitting]="submitting"
          formControlKey="email"
          invalidErrorMessage="Please enter valid Email"
        ></error-message>
      </div>
    </div>
    <div class="form-group">
      <label for="mobile">Mobile number</label>
      <div class="input">
        <input
          class="form-control"
          placeholder="Enter your mobile number"
          formControlName="mobile"
          [imask]="maskFormNumber(null, 9999999999, '')"
          unmask="typed"
        />
        <error-message
          [controlName]="f"
          [submitting]="submitting"
          formControlKey="mobile"
          invalidErrorMessage="Please enter valid Number"
        ></error-message>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Enter OTP</label>
      <a
        class="link cursor-pointer float-right"
        [class.inactive]="f['mobile'].invalid || isOtpSent"
        (click)="f['mobile'].valid && !isOtpSent && generateOTP()"
      >
        Generate OTP
      </a>
      <div class="input">
        <input
          class="form-control"
          formControlName="otp"
          placeholder="Enter your OTP"
        />
        <error-message
          [controlName]="f"
          [submitting]="submitting"
          formControlKey="otp"
          invalidErrorMessage="Please enter valid otp"
        ></error-message>
      </div>
    </div>

    <button
      type="submit"
      class="btn-primary btn"
      [disabled]="signupForm.invalid || submitting"
    >
      Submit
    </button>
    <h3 class="font-sm dark-text">
      New user? Click here
      <a class="link cursor-pointer" (click)="loginModal()">Login</a>
    </h3>
  </form>
</div>
