/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-toastr/toastr";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  background: #09070a;

  @media (min-width: 1500px) {
    font-size: 17px;
  }

  @media (min-width: 1700px) {
    font-size: 17px;
  }
}

.font-xxl {
  margin: 0;
  font-size: 11.85rem;
  font-weight: bolder;
  line-height: 1;
}

.font-xxl2 {
  font-size: 5rem;
  font-weight: bolder;
}

.font-xl {
  font-size: 2.81rem;
}

.font-lg {
  font-size: 2.4rem;
}

.font-md {
  font-size: 1.5rem;
}

.font-sm {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: bold;
}

.white-color {
  color: #fff;
}

.dark-color {
  color: #1a1919;
}

.theme-color {
  color: #fcb131;
}

.float-right {
  float: right;
}

.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.5rem 2rem;
}

.btn:focus,
a.btn:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

// button primary

.btn-primary,
a.btn-primary {
  background: #fcb131;
  border: 1px solid #fcb131;
  color: #1a1919 !important;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.hover,
  &:not(:disabled):not(.disabled):active:focus {
    background: #fcb131;
    color: #1a1919 !important;
    border: 1px solid #fcb131;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    color: #fff;
    background-color: #fcb131;
    border-color: #fcb131;
  }
}

.btn-dark,
a.btn-dark {
  background: #000;
  border: 1px solid #fff;
  font-size: 1.6rem;
  overflow: hidden;

  span {
    position: relative;
    display: block;
    background-image: radial-gradient(
      circle farthest-corner at 100% 100%,
      #ff0058,
      #0ff 40%,
      #ff00e2 67%,
      #ff0
    );
    color: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
  }

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.hover,
  &:not(:disabled):not(.disabled):active:focus {
    border: 1px solid #fcb131;
  }
}

.btn-animation {
  position: relative;
  box-shadow: inset 0 0 0px 0px #0000001f !important;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.hover,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: inset 0 50px 0px 0px #0000001f !important;
  }
}

.link {
  color: #fcb131 !important;
  &.inactive {
    color: #707070 !important;
  }
}

app-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.content-banner {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 991px) {
  .navbar-collapse {
    justify-content: flex-end;
  }
}

.navbar {
  align-items: flex-start !important;
  padding-top: 1.4rem;

  .logo {
    width: 115px;

    img {
      width: 100%;
    }
  }

  .navbar-nav a.nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    color: #fff;
    font-size: 1rem;
    position: relative;
    padding-top: 0 !important;
    min-width: 6rem;

    span.comming-soon {
      display: block;
      font-size: 0.75rem;
      position: absolute;
      top: 85%;
      color: #fcb131;
    }
  }

  .profile-dropdown {
    margin-left: 2rem;

    .dropdown-toggle {
      background: none;
      border: none;
      box-shadow: none;
    }

    .dropdown-toggle::after {
      content: none;
    }

    .dropdown-menu {
      background: #fcb131;
      transform: translate(-30%, 14px) !important;

      &::before {
        content: "▼";
        position: absolute;
        left: 50%;
        top: -20px;
        width: 4px;
        text-align: center;
        font-size: 18px;
        color: rgb(252 177 49);
        transform: rotate(180deg);
      }

      .dropdown-item {
        text-align: center;

        span {
          display: inline-block;
          text-align: left;
          min-width: 4rem;
        }
      }

      .dropdown-item:focus,
      .dropdown-item:hover {
        background-color: #ffffff4d;
      }
    }
  }
}

.banner-content {
  text-align: center;

  h3 {
    background-image: radial-gradient(
      circle farthest-corner at 100% 100%,
      #ff0058,
      #0ff 40%,
      #ff00e2 67%,
      #ff0
    );
    color: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-size: 350%;
  }

  .points {
    span {
      margin: 0 0.4rem;

      position: relative;
      display: inline-block;

      &::before {
        width: 0.75rem;
        height: 0.75rem;
        content: "";
        background: #fff;
        margin-right: 0.85rem;
        border-radius: 50%;
        display: inline-block;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }
}

.image-cards {
  margin-top: 4rem;

  .card {
    position: relative;

    button {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }
}

.home-content {
  h2 {
    margin-top: 8rem;
    margin-bottom: 2rem;
    background-image: radial-gradient(
      circle farthest-corner at 100% 100%,
      #ff0058,
      #0ff 40%,
      #ff00e2 67%,
      #ff0
    );

    color: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    display: inline-block;
  }
}

.color-text {
  background-image: radial-gradient(
    circle farthest-corner at 100% 100%,
    #ff0058,
    #0ff 40%,
    #ff00e2 67%,
    #ff0
  );

  color: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error-text {
  color: red;
}

.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #707070;
}

.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #707070;
}

.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #707070;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #707070;
}

.form-control {
  border-color: #707070;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #444;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.form-group.error {
  .form-control {
    border-color: #707070;
  }
}

.eyeButton {
  color: #707070 !important;

  &.active {
    color: #707070 !important;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}

.form-check-input:checked {
  background-color: #707070;
  border-color: #707070;
}

select option {
  background: #f00;
  color: #fff;
  box-shadow: inset 20px 20px #f00;
}

select option:hover {
  color: #000;
  box-shadow: inset 20px 20px #707070;
}

.user-modal {
  padding: 2rem;
  color: #000;

  .title {
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 1.5rem;

    label {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .form-control {
      font-size: 1.25rem;
    }
  }

  button {
    margin-bottom: 2rem;
  }
}

.modal-dialog {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

p {
  opacity: 0.8;
}

.coin {
  img {
    max-width: 100%;
  }
}

.roadmap-card {
  border: 1px solid #ffffff61;
  margin-right: 1rem;
  height: 100%;
  border-radius: 2rem;
  padding: 2rem 2rem 1rem;
  margin-top: 1rem;
  background: transparent;
  transition: all 0.3s ease;

  .color-text {
    opacity: 0.8;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

  ul {
    padding-left: 1.5rem;
    margin-bottom: 0;
    margin-top: 1.5rem;

    li {
      margin-bottom: 0.8rem;
      font-size: 1.12rem;
      opacity: 0.75;
      transition: all 0.3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    border-color: rgba(132, 0, 255, 0.8);
    background: rgba(132, 0, 255, 0.15);
  }
}

.guide-arrows--right .guide-arrows__item {
  animation-name: fadeArrows;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.guide-arrows--right .guide-arrows__item--two {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.guide-arrows--right .guide-arrows__item--three {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.guide-arrows--left .guide-arrows__item {
  animation-name: fadeArrows;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.guide-arrows--left .guide-arrows__item--two {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.guide-arrows--left .guide-arrows__item--three {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes fadeArrows {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.section-icons-faq__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.tagline {
  text-align: center;
  padding: 0rem;
  margin: 10rem auto 5rem;
  max-width: 50rem;
}

span.error-message {
  color: #f00;
}
