<div class="home">
  <div class="content-banner" style="background-image: url('./assets/images/banner-bg.png')">
    <div class="container">
      <div class="banner-content">
        <h3 class="font-xl white-color">Connecting Fans</h3>
        <p class="font-md white-color points">
          <span>Buy</span>
          <span>Collect</span>
          <span>Trade</span>
        </p>
      </div>
    </div>
  </div>
  <div class="home-content">
    <div class="container">
      <div id="marketplace">
        <h2 class="font-lg">Marketplace</h2>
        <p class="font-sm">
          We will soon be available with iconic moments of sports, player’s cards
          and souvenirs as NFT in our platform and all these will be digitally
          signed by sportspersons for ownership authenticity.
        </p>
        <p class="font-sm">Be patient…NFT on the way!!!</p>
        <div class="image-cards row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <img src="./assets/images/card1.png" alt="card1" />
              <button class="btn btn-dark btn-animation"><span>Coming Soon</span></button>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <img src="./assets/images/card2.png" alt="card1" />
              <button class="btn btn-dark btn-animation"><span>Coming Soon</span></button>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <img src="./assets/images/card3.png" alt="card1" />
              <button class="btn btn-dark btn-animation"><span>Coming Soon</span></button>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <img src="./assets/images/card4.png" alt="card1" />
              <button class="btn btn-dark btn-animation"><span>Coming Soon</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="aboutus" class="about-us">
        <h2 class="font-lg">About Us</h2>
        <p class="font-sm">
          Sportyfy is India’s first sports focused decentralized NFT marketplace
          for fans, offering sportspersons to create NFTs where fans can buy,
          collect and trade exclusive iconic moments of sports history running
          on blockchain.
        </p>
      </div>

      <div id="token" class="token">
        <h2 class="font-lg">Token</h2>
        <div class="row">
          <div class="col-lg-8">
            <h4 class="font-xxl text-white">
              <span class="theme-color">$</span>SPRT
            </h4>
            <h3 class="font-xxl2 text-white mb-3">
              UTILITY <span class="theme-color">TOKEN</span>
            </h3>
            <div class="d-flex mt-4 pt-4 align-items-center">
              <button class="btn btn-primary btn-animation ">
                Buy Now
              </button>
              <p class="ms-3 mb-0">Coming Soon</p>
            </div>

          </div>
          <div class="col-lg-4">
            <div class="coin">
              <img src="assets/images/coin.png">
            </div>
          </div>
        </div>
      </div>
      <div id="roadmap" class="roadmap">
        <h2 class="font-lg">Roadmap</h2>
        <p class="font-sm">We meet objective milestones to make our vision a reality.</p>

        <div class="row mt-4">
          <div class="col-md-6 col-lg-4">
            <div class="roadmap-card">
              <div class="content">
                <h3 class="header font-xl color-text ">
                  Q1
                </h3>
                <ul>
                  <li>
                    Release website and logo (V1)</li>
                  <li>Launch Project </li>
                  <li>Grow community</li>
                  <li>
                    Coin Listing </li>
                  <li>
                    Social Media Setup</li>
                  <li>
                    Initiate Partnerships
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="roadmap-card">
              <div class="content">
                <h3 class="header font-xl color-text ">
                  Q2
                </h3>
                <ul>
                  <li>
                    Complete Whitepaper implementation </li>
                  <li> Expand community
                  </li>
                  <li>Coin listing in exchange
                  </li>
                  <li>Marketing campaigns
                  </li>
                  <li>Merchandise Store
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="roadmap-card">
              <div class="content">
                <h3 class="header font-xl color-text ">
                  Q3
                </h3>
                <ul>
                  <li>
                    NFT marketplace launch (web)</li>
                  <li>Competitions with big prizes
                  </li>
                  <li> Discover emerging sport persons
                  </li>
                  <li> Begin app development
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="tagline">

        <div class="section-icons-faq__title">
          <svg class="guide-arrows guide-arrows--right" width="131" height="53" viewBox="0 0 131 53" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path class="guide-arrows__item guide-arrows__item--one" d="M24.503 1.997L49.006 26.5 24.503 51.003"
              stroke="#fcb131" stroke-width="4"></path>
            <path class="guide-arrows__item guide-arrows__item--two" d="M64 1.997L88.503 26.5 64 51.003"
              stroke="#fcb131" stroke-width="4"></path>
            <path class="guide-arrows__item guide-arrows__item--three" d="M103.497 1.997L128 26.5l-24.503 24.503"
              stroke="#fcb131" stroke-width="4"></path>
          </svg>
          <h3 class="font-xxl2 white-text">DON'T BE<br><span class="theme-color"> JUST A FAN</span></h3>
          <svg class="guide-arrows guide-arrows--left" width="131" height="53" viewBox="0 0 131 53" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path class="guide-arrows__item guide-arrows__item--one" d="M106.497 51.003L81.994 26.5l24.503-24.503"
              stroke="#fcb131" stroke-width="4"></path>
            <path class="guide-arrows__item guide-arrows__item--two" d="M67 51.003L42.497 26.5 67 1.997"
              stroke="#fcb131" stroke-width="4"></path>
            <path class="guide-arrows__item guide-arrows__item--three" d="M27.503 51.003L3 26.5 27.503 1.997"
              stroke="#fcb131" stroke-width="4"></path>
          </svg>
        </div>
        <p class="font-md">Stay tuned to get early access to some iconic moments and souvenirs to own and create asset
          for yourself.</p>

      </div>


    </div>
  </div>
</div>